<!DOCTYPE html>
<html lang="pt-br">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Minha Conta</title>
</head>
<body>
    <div>
        <h1>Minha Conta</h1>
        <nav>
            <ul>
                <li><a href="{{ url_for('anunciar', id=user_id) }}">Anunciar</a></li>
                <li><a href="{{ url_for('meus_anuncios', user_id=user_id) }}">Ver meus Anúncios</a></li>
                <li><a href="{{ url_for('favoritos', user_id=user_id) }}">Ver Anúncios Favoritos</a></li>
                <li><a href="{{ url_for('relatorio', user_id=user_id) }}">Relatório de Compras e Vendas</a></li>
                <li><a href="{{ url_for('home', user_id=user_id) }}">Comprar</a></li>
                <li><a href="{{ url_for('editar', id=user_id) }}">Editar dados</a></li>
            </ul>
        </nav>
    </div>
    <button type="button" onclick="window.history.back()">Voltar</button>
</body>
</html>


