<!DOCTYPE html>
<html lang="pt-br">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Relatório de Compras e Vendas</title>
</head>
<body>
    <h1>Relatório de Compras e Vendas</h1>

    <h2>Produtos Comprados</h2>
    <div>
        {% for produto, data in produtos_comprados %}
            <div>
                <h3>{{ produto.titulo }}</h3>
                <p>Descrição: {{ produto.descricao }}</p>
                <p>Preço: R${{ produto.preco }}</p>
                <p>Data da Compra: {{ data.strftime('%d/%m/%Y') }}</p>
            </div>
        {% endfor %}
    </div>

    <h2>Produtos Vendidos</h2>
    <div>
        {% for produto, data in produtos_vendidos %}
            <div>
                <h3>{{ produto.titulo }}</h3>
                <p>Descrição: {{ produto.descricao }}</p>
                <p>Preço de Venda: R${{ produto.preco }}</p>
                <p>Data da Venda: {{ data.strftime('%d/%m/%Y') }}</p>
            </div>
        {% endfor %}
    </div>

    <h2>Relatório de Lucro de Vendas</h2>
    <div>
        <p>Lucro Total: R${{ lucro_total }}</p>
        <p>Observações: O lucro é calculado com base na diferença entre o preço de venda e o preço de compra dos produtos vendidos.</p>
    </div>
    <button type="button" onclick="window.history.back()">Voltar</button>
</body>
</html>
